* {
 box-sizing: border-box;
}

body {
  position: relative;
  background-color: #C63D0F;
}

a:link {
  color: black;
  }      /* unvisited link */
      a:visited {
        color: black;
        }   /* visited link */
      a:hover {
        color: black;
        text-decoration: none;
}     /* mouse over link */
      a:active {
        color: black;
      }

      q { quotes: '\201c' '\201d'; }
      q:before { content: open-quote; }
      q:after  { content: close-quote; }
