.container {
  display: flex;
  min-height: 500px;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 20%;
  padding-bottom: 20px;
  text-align: center;
  color: black;
  font-family: 'Kaushan Script', cursive;
}
