.quote-box {
  border-radius: 10px;
   padding: 10px 30px;
   background-color: white;
   text-align: center;
   font-size: 1.8rem;
   margin-bottom: 10px;
   display: block;
   font-family: 'Macondo', cursive;
}
